<div class="banner">
    <div class="role">
        {{ userRole }}
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <div class="icon-container">
        <!-- Ícono de nota de venta solo visible para Vendedor -->
        <ng-container *ngIf="userRole.trim().toLowerCase() === 'vendedor'; else noSaleIcon">
            <div class="icon" (click)="navigateToNotaVenta()">
            <i class="fas fa-file-alt"></i> <!-- Ícono de nota de venta -->
            </div>
        </ng-container>


        <!-- Ícono de perfil -->
        <div class="icon">
            <i class="fas fa-user-circle" (click)="cerrarSesion()"></i>
        </div>

        
        <!-- Si no es Vendedor, no se muestra el ícono -->
        <ng-template #noSaleIcon></ng-template>

</div>
