.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #162635; Fondo oscuro */
    color: white;
    padding: 20px 20px;
  }
  
  .role {
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Contenedor de los íconos, alineado a la derecha */
  .icon-container {
    display: flex;
    justify-content: flex-end; /* Alinea los íconos a la derecha */
    gap: 15px; /* Espacio entre los íconos */
  }
  
  .icon {
    font-size: 2rem;
    cursor: pointer;
    color: #00bcd4; /* Color de los íconos */
  }
  
  .icon:hover {
    color: #ffffff;  /* Color al pasar el mouse */
  }
  
  .hidden {
    display: none;  /* Oculta el elemento */
}