<app-banner></app-banner>
<div class="product-details">
    <div class="container-details">
        <div class="container_product-image">
            <img [src]="producto?.imagen_url" alt="Imagen del Producto" class="product-image">
        </div>

        <h1 class="product-name">{{ producto?.nombre }}</h1>
        <p class="product-price">$ {{ producto?.precio }}</p>

        <div class="quantity-selector">
            <h2>Cantidad:</h2>
            <button (click)="adjustQuantity(-1)">Quitar</button>
            <input type="number" [(ngModel)]="cantidad" min="1">
            <button (click)="adjustQuantity(1)">Agregar</button>
        </div>

        <div class="product-details-container">
            <h2>Detalles:</h2>
            <p>{{ producto?.descripcion }}</p>
        </div>

        <button class="add-to-cart-button" (click)="addToCart()">Añadir al carrito</button>
    </div>
</div>
