
<app-banner></app-banner>
<div class="container">
  <!-- Sección de Usuarios -->
  <h2>Gestión de Usuarios</h2>
  <form (ngSubmit)="agregarUsuario()">
      <input [(ngModel)]="nuevoUsuario.username" name="username" placeholder="Nombre" required />
      <input [(ngModel)]="nuevoUsuario.password" name="password" type="password" placeholder="Contraseña" required />
      <input [(ngModel)]="nuevoUsuario.rol" name="rol" placeholder="Rol" required />
      <button type="submit">Agregar Usuario</button>
  </form>
  <ul>
      <li *ngFor="let usuario of usuarios">
          {{ usuario.username }} - {{ usuario.rol }}
          <!-- <button (click)="editarUsuario()"></button> -->
          <button (click)="eliminarUsuario(usuario.id)">Eliminar</button>
      </li>
  </ul>

  <!-- Sección de Productos -->
  <h2>Gestión de Productos</h2>
  <form (ngSubmit)="agregarProducto()">
      <input [(ngModel)]="nuevoProducto.nombre" name="productoNombre" placeholder="Nombre del Producto" required />
      <input [(ngModel)]="nuevoProducto.descripcion" name="productoDescripcion" placeholder="Descripcion del producto" required />
      <input [(ngModel)]="nuevoProducto.precio" name="productoPrecio" type="number" placeholder="Precio" step="0.01" required />
      <input [(ngModel)]="nuevoProducto.stock" name="productoStock" type="number" placeholder="Stock" required />
      <input [(ngModel)]="nuevoProducto.imagen_url" name="productoImagen" type="text"  placeholder="Pega aquí la URL de la imagen" />
      
      
      
      <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> -->

      <button type="submit">Agregar Producto</button>
  </form>

  <ul>
    <li *ngFor="let producto of productos">
        {{ producto.nombre }} - descripcion {{producto.descripcion}} - ${{ producto.precio }} - Stock: {{ producto.stock }} 
        <br />
        <img [src]="producto.imagen_url"  class="producto-imagen"/>
        <!-- Imagen: {{ producto.imagen_url }} -->
        <button (click)="eliminarProducto(producto.id)">Eliminar</button>
    </li>
</ul>

  <!-- <ul>
      <li *ngFor="let producto of productos">
          {{ producto.nombre }} - ${{ producto.precio }} - Stock: {{ producto.stock }} - Tienda: {{ getTiendaNombre(producto.tienda_id) }}
          <button (click)="eliminarProducto(producto.id)">Eliminar</button>
      </li>
  </ul> -->

  <!-- Sección de Tiendas -->
  <h2>Gestión de Tiendas</h2>
  <form (ngSubmit)="agregarTienda()">
      <input [(ngModel)]="nuevaTienda.nombre" name="tiendaNombre" placeholder="Nombre de la Tienda" required />
      <input [(ngModel)]="nuevaTienda.ubicacion" name="tiendaUbicacion" placeholder="Ubicación de la Tienda" required />
      <input [(ngModel)]="nuevaTienda.ruc" name="tiendaRuc" type="text"  placeholder="RUC de la Tienda" />
      <input [(ngModel)]="nuevaTienda.propietario" name="tiendaPropietario" type="text"  placeholder="Propietario de la Tienda" />
      <input [(ngModel)]="nuevaTienda.imagen_url" name="tiendaImagen" type="text"  placeholder="Pega aquí la URL de la imagen" />
      <button type="submit">Agregar Tienda</button>
  </form>
  <ul>
      <li *ngFor="let tienda of tiendas">
          {{ tienda.nombre }} - Ubicación: {{ tienda.ubicacion }}
          <button (click)="eliminarTienda(tienda.id)">Eliminar</button>
      </li>
  </ul>
</div>