<app-banner></app-banner>
<div class="container">
  <main class="content">
    
    <app-catalogo *ngIf="view === 'Catalogo'"></app-catalogo>
    <!-- Condición para mostrar HomeAdmiComponent -->
    <app-registro-pedi *ngIf="view === 'RegistroPedi'"></app-registro-pedi>
    
  </main>

  <!-- Menú inferior con botones para cambiar de vista -->
  <footer class="footer">
    <button class="footer-btn" (click)="switchView('RegistroPedi')">Registro de Pedidos</button>
    <button class="footer-btn" (click)="switchView('Catalogo')">Catálogos</button>
  </footer>
</div>
