<div class="container">
  <header class="header">
    <span class="title">Vendedor</span>
    <div class="icons">
      <i class="icon fas fa-bell"></i>
      <i class="icon fas fa-cog"></i>
      <i class="icon fas fa-user"></i>
    </div>
  </header>

  <main class="content">
    <!-- Condición para mostrar HomeFactComponent -->
    <app-home-fact *ngIf="view === 'HomeFact'"></app-home-fact>

    <!-- Condición para mostrar HomeAdmiComponent -->
    <app-registro-pedi *ngIf="view === 'RegistroPedi'"></app-registro-pedi>
  </main>

  <!-- Menú inferior con botones para cambiar de vista -->
  <footer class="footer">
    <button class="footer-btn" (click)="switchView('HomeFact')">Registro de Pedidos</button>
    <button class="footer-btn" (click)="switchView('RegistroPedi')">Catálogos</button>
  </footer>
</div>
